@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* line 1, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
img {
  margin: auto;
  width: 150px; }

/* line 5, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.panel {
  max-height: 500px;
  /*            max-height: 200px;*/ }

/* line 11, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.reviewScroll {
  max-height: 150px;
  overflow-y: scroll; }

/* line 16, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.descriptionscroll {
  max-height: 60px;
  overflow-y: scroll; }

/* line 22, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.navstyle {
  background-color: #E1FAFC; }

/* line 28, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
body {
  background-color: #002B3B;
  font-family: 'Maitree', serif; }

/* line 34, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.btncart {
  background-color: #FF2D54; }

/* line 39, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.titlestyle {
  color: black;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
  font-family: 'Grand Hotel', cursive; }

/* line 49, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.footerstyle {
  background-color: #239495; }

/* line 53, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.btnblue {
  background-color: #057D9F; }

/* line 56, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.panel-heading {
  background-color: #057D9F;
  color: black;
  font-size: 20px;
  font-weight: 500; }

/* line 63, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.btnlightblue {
  background-color: #E1FAFC; }

/* line 75, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
fieldset, label {
  margin: 0;
  padding: 0; }

/* line 76, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
body {
  margin: 20px; }

/* line 77, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
h1 {
  font-size: 1.5em;
  margin: 10px; }

/****** Style Star Rating Widget *****/
/* line 81, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.rating {
  border: none;
  float: left; }

/* line 86, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.rating > input {
  display: none; }

/* line 87, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

/* line 95, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.rating > .half:before {
  content: "\f089";
  position: absolute; }

/* line 100, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.rating > label {
  color: #ddd;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
/* line 107, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; }

/* hover previous stars in list */
/* line 111, /Users/Erica/Desktop/gemstore/gemstore/myCss.scss */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85; }

/*# sourceMappingURL=myCss.css.map */